<!DOCTYPE html>
<html lang="fr">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet" />
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/c.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'images/logo.png') }}"/>
        <title>Welcome to Surfinder !</title>
    </head>

    <body>
        <div class = "div0" >
            <div class = "div1">
                <span class = "p1">Welcome to Surfinder</span> 
                </br>
                </br>
                <span class = "p2">Your solution to track trash aboard seas.</span>
                </br>
                </br>
                <span class = "span"><a href="/Image/"></a></span>
            </div>
            <div class="image"></div>
        </div>

    </body>

</html>